/* Champ d'entrée utilisateur */
.user_entry {
  box-shadow: 0 0 6px 2px #ebebeb;
  border-radius: 10px;
  padding: 10px;

  /* Transition douce pour interactivité */
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

/* Bouton d'envoi */
.SendButton {
  border-radius: 50%;
  padding: 15px;
  background-color: #e62d42;
  /* Animation */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 0 6px 3px #ebebeb;
}

/* Titre du modèle */
.model_title {
  font-size: 24px;
  font-weight: 700;
}

/* Boutons génériques */
button {
  padding: 6px 8px;
  font-weight: 1000;
  margin: 0;
}

/* Bouton d'envoi : effet au clic */
.SendButton:active {
  transform: scale(0.99);
  background-color: #d9233a; /* Couleur ajustée pour une meilleure lisibilité */
  box-shadow: 0 0 4px 1px #ebebeb;
}

/* Liste */
list {
  background-color: transparent;
}

/* Étiquettes */
label {
  font-family: monospace;
}

/* Boîte de message */


/* Titre de la conversation */
.title_conv {
  font-weight: bold;
}

/* Boîte extérieure (contenant la boîte avec la grille) */
details_models {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Grille contenant les étiquettes */
details_grid label {
  padding: 5px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px;
}

