/* Champ d'entrée utilisateur */
.user_entry {
  box-shadow: 0 0 6px 2px #ebebeb;
  border-radius: 10px;
  padding: 10px;

  /* Transition douce pour interactivité */
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

/* Bouton d'envoi */
.sendButton {
  border-radius: 50%;
  padding: 15px;
  background-color: #e62d42;
  /* Animation */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 0 6px 3px #ebebeb;
}

model_title {
  font-size: 24px;
  font-weight: 700 ;
}
button {
  padding: 6px 8px 6px 8px;
  font-weight: 1000;
  margin: 0;
  }



.sendButton:active {
  /* Effet au clic */
  transform: scale(0.99);
  background-color: mix(@accent_color, #000000, 0.1); /* Accentuation modérée */
    box-shadow: 0 0 4px 1px #ebebeb;
}

list {
  background-color: transparent;
}

label {
  font-family: monospace;
}

.message_box {
padding-top: 20px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 3px 1px #ebebeb;
}

.title_conv {
  font-weight: bold;
}

/* Box extérieure (contenant la box qui possède le grid) */
details_models {
  padding: 10px; /* Augmenté pour mieux espacer */
  border-radius: 8px; /* Légèrement plus arrondi */
  margin-bottom: 20px; /* Espacement sous la boîte */
}

/* Grid contenant les labels */
details_grid label{
    padding: 5px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px;
}


